<div id = "rightinner">
  <div id = "titlegreenleft">
    <div class="greentitle"><img src="/images/content.png" style="vertical-align:middle; margin-right:8px;" >Employee Management</div>
  </div>
   <br/><br/>
       <div id = "matterinner">
              <% if session[:rolename] != "admin" %>
                <h1 class="heading">Applied Leaves List</h1>
              <% else %>
                <%# if session[:rolename] == "admin" and session[:department] == "Admin" %>
                <h1 class="heading">Employees Pending Leaves</h1>
                <%# elsif session[:rolename] == "admin" and session[:department] != "Admin" %>
              <% end %>
             <hr>


             <% if session[:rolename] == "admin" and session[:department] == "Admin"%>
             <div><%= link_to '<label style="cursor:pointer;">Employees Leaves Status</label>'<<image_tag( 'add.gif', :border => 0 ),{ :action => 'emp_leave_status' }, { :style => "text-decoration:none; " } %></div> 
             <%= render :partial => "emp_pending_leave" %>
             <% elsif session[:rolename] == "admin" and session[:department] != "Admin" %>    
             <div>
             <%= link_to '<label style="cursor:pointer;">Employees Leaves Status</label>'<<image_tag( 'add.gif', :border => 0 ),{ :action => 'emp_leave_status' }, { :style => "text-decoration:none; " } %>
             <%= link_to '<label style="cursor:pointer;">Apply for New Leave</label>'<<image_tag( 'add.gif', :border => 0 ),{ :action => 'new' }, { :style => "text-decoration:none; " } %>
             <%= link_to '<label style="cursor:pointer;">Leave Policy</label>'<<image_tag( 'add.gif', :border => 0 ),{ :action => 'leave_policy' }, { :style => "text-decoration:none; " } %>
             </div> 
             <%= render :partial => "emp_pending_leave" %>
    
             <h1 class="heading">Applied Leaves List</h1><hr>
             <%= render :partial => "emp_leave_list" %>
             <%= render :partial => "emp_leave_status_per_year" %>
             <% elsif session[:rolename] != "admin" %>    
             <div>
             <%= link_to '<label style="cursor:pointer;">Apply for New Leave</label>'<<image_tag( 'add.gif', :border => 0 ),{ :action => 'new' }, { :style => "text-decoration:none; " } %>
             <%= link_to '<label style="cursor:pointer;">Leave Policy</label>'<<image_tag( 'add.gif', :border => 0 ),{ :action => 'leave_policy' }, { :style => "text-decoration:none; " } %>
             </div> 
             <%= render :partial => "emp_leave_list" %>
             <%= render :partial => "emp_leave_status_per_year" %>
             <% end %>

             <a href ="javascript:history.go(-1)"><%= image_tag("back",:border=>0)%></a>
             <br/> <br/>
       </div>
       <div id = "rightinnerbottom"></div>
     </div>
     <div style="clear:both"></div>

